/* push footer to bottom of page */
html, body {
    height: 100%;
    margin: 0;
  }
  .content {
    min-height: 100%;
  }
  .content-inside {
    padding: 0;
    padding-bottom: 50px;
  }
/* end sticky footer */
body{
   background-image: url(../images/white-waves.png);
   font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
   color:#777777;
}

*h1,
*h2,
*h3,
*h4,
*h5 {
    font-family: Georgia, Times, "Times New Roman", serif;
    font-weight: bold;
}

nav {
   background:#ffffff;
   margin:0;
   height:auto;
   border-bottom: 2px solid #cccccc;
   overflow:auto;
}
nav div {
    margin: 0 auto;
    max-width: 960px;

}
a{
    text-decoration: none;
}

#wrapper{
    float:left;
    background: #4aaaa5;
    color:#ffffff;
    padding:24px 16px;
}

#social{
    padding: 24px 16px;
}

#wrapper h1,
#wrapper h4 {
    margin:0;
}

h3 {
    float:right;
    font-weight: normal;
    font-size:12px;
    border-right:1px solid rgb(204, 200, 200);
    text-align:center;
    margin:22px auto;
    height:100%;
    width:10%;
}
#noBorder {
    border-right:none;
}

#container{
    margin:0 auto;
    clear:both;
    border:1px solid#dddddd;
    background: #ffffff;
    overflow:auto;
    padding:10px;
    max-width: 940px;
}
section {
    margin:10px;
}

h2 {
    color:#4aaaa5;
}
#dexPic{
    float:left;
    margin-right:10px;
    margin-bottom: 10px;
    height: auto;
    width:30%;
}


footer{
    border-top:8px solid #4aaaa5;
    background: #666666;
    text-align: center;
    clear:both;
    height: 50px;
  margin-top: -50px;
  color:rgb(34, 33, 33);
}

footer h5 {
    margin-bottom: 0;
}

/* start css for contact page */

input,
textarea {
    width:100%;
    border:2px solid lightgray;
}

button {
    width:60px;
    height: 30px;
    background:#4aaaa5;
}

br:nth-of-type(even) {
    margin: 10px;
    display:block;
    content:"";
}


/* portfolio css starts here */
 .pics{
    float:left;
    margin:5%;
    width:40%;
    position:relative;
}
.pics img{
    width:100%;
    height: auto;
}
img~h3 {
    background:#4aaaa5;
    color:#ffffff;
    text-align: center;
    font-weight: normal;
    margin-top:-50px;
    position: absolute;
    width:100%;
    height:20px;
    padding:5px 0;
}

#col{
    width:auto;
    padding:10px;
}

/* responsive  */
/* Make the layout match the following screenshots:

index.html: 980px, 768px, 640px

portfolio.html: 980px, 768px, 640px

contact.html: 980px, 768px, 640px

Make the position of the header static (the default positioning) when the screen is 640px wide. The header design takes up a lot of room; you don't want it to stick to the top of a small screen and leave no room for the rest of your site. */

@media screen and (max-width:980px){
    nav{
        overflow:auto;
       }
    #brand{
        width:60%;
        float:left;
    }
    #navButtons{
        width:40%;
        float:right;
    }

    h3 {
        width:30%;
        margin:22px auto;
        height:100%;

    }
    h4{
        padding-bottom:5px;
    }
    #dexPic {
        width:35%;
    }
}
@media screen and (max-width:768px){
    nav{
        overflow:auto;
    }
    #brand{
        width:60%;
        float:left;
    }
    #navButtons{
        width:40%;
        float:right;
    }

    h3 {
        width:30%;
        margin:22px auto;
        height:100%;

    }
    h4{
        padding-bottom:5px;
    }
    #dexPic {
        width:35%;
    }
}
/* @media screen and (max-width:640px){
    #brand{
        width:100%;
    }
    #navButtons{
        width:100%;
    }
    .pics {
        width:100%;
        margin:5px;
    }
    h3 {
        width:33%;
        background:lightgray;
        padding:14px 0 14px 0;
        margin:0;
    }
    #wrapper {
        width: 100%;
    }
    .maxWidthNav {
        width:100%;
        }

    .content {
        width:100%;
    }
    #dexPic {
        width:100%;
    }
    .text{
        width:100%;
    }
} */

 @media screen and (max-width:640px){
    #brand{
        width:100%;
    }
    #navButtons{
        width:100%;
    }
    .pics {
        width:100%;
        margin:5px;
    }
    h3 {
        width:33.33%;
        background:lightgray;
        padding:10px 0;
        margin:0;
        border:none
    }
    #wrapper {
        width: 100%;
        padding:16px 16px;
    }
    .maxWidthNav {
        width:100%;
        }

    .content {
        width:100%;
    }
    #dexPic {
        width:100%;
    }
    .text{
        width:100%;
    }
}


